@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

:root {
  --bg: 40, 42, 54;
  --mid: 68, 71, 90;
  --high: 98, 114, 164;
  --fg: 248, 248, 242;
  --black: 33, 34, 44;
  --red: 255, 85, 85;
  --yellow: 241, 250, 140;
  --green: 80, 250, 123;
  --cyan: 139, 233, 253;
  --purple: 189, 147, 249;
}

* {
  margin: 0;
  padding: 0;
  font-size: 1em;
}

body {
  font-family: 'Fira Code', sans-serif;
  background: linear-gradient(rgba(var(--mid), 0.3), rgb(var(--bg))) no-repeat rgb(var(--bg));
  color: rgb(var(--fg));
}

header {
  height: 3em;
  position: sticky;
  top: 0;
}

nav {
  width: fit-content;
  height: calc(100%);
  display: flex;
  align-items: center;
  justify-items: center;
  margin: auto;
  gap: 1em;
}

a {
  color: rgb(var(--fg));
  text-underline-offset: .2em;
}

a.active {
  font-weight: bold;
  transform: scale(1.1);
}

a:hover {
  color: rgb(var(--cyan));
}

main {
  width: 70em;
  min-height: 60vh;
  max-width: calc(100% - 4em);
  padding: 5em 1em;
  margin: auto;
}

details summary {
  list-style-type: '[+] ';
  margin-top: 0.5em;
  cursor: pointer;
}

details:open summary {
  list-style-type: '[-] ';
}

details>*>* {
  margin-top: 0.5em;
}

ul>* {
  margin-top: 0.5em;
}

li {
  list-style-type: '-> ';
  margin-left: 3.5em;
}

footer {
  padding: 2em 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

footer>* {
  margin-top: 0.5em;
}

li>time {
  margin-left: 2em;
}

time {
  font-size: 0.8em;
}

.build {
  color: rgb(var(--mid));
}
