@import url('https://fonts.googleapis.com/css2?family=Redacted+Script:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
    --color-selection-fg: #ebdbb2;
    --color-selection-bg: #d65d0e;
    --color-brand-bg: #282828;
    --color-brand-fg: #ebdbb2;
    --color-brand-accent: #98971a;

    --color-brand-black: #3c3836;
    --color-brand-red: #cc241d;
    --color-brand-yellow: #d79921;
    --color-brand-blue: #458588;
    --color-brand-purple: #b16286;
    --color-brand-green: #689d6a;
    --color-brand-gray: #928374;

    --color-brand-lightgray: #a89984;
    --color-brand-lightred: #fb4934;
    --color-brand-lime: #b8bb26;
    --color-brand-lightyellow: #fabd2f;
    --color-brand-lightblue: #83a598;
    --color-brand-lightpurple: #d3869b;
    --color-brand-lightgreen: #8ec07c;

    --color-brand-white: #fbf1c7;
    --color-brand-cursor: #bdae93;
    --color-brand-text-cursor: #665c54;
    --color-brand-link: #458588;
}

::selection {
    color: var(--color-selection-fg);
    background-color: var(--color-selection-bg);
}

:root {
    font-family: 'Source Sans 3', sans-serif;
    text-underline-offset: 0.2rem;
}